<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Deneyimli Eğitmenler</h5>
                        <p>Güçlü eğitmen kadromuz hedeflerinize ulaşmak ve kendinizi keşfetmek için buradalar.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Öğrenme</h5>
                        <p>Online öğrenme avantajı ile nerede olursan ol istediğin an istediğin eğitim ile öğrenmeye ara verme.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Proje Geliştirme</h5>
                        <p>Eğitim destekli projeler geliştirilerek öğrenim kalıcı ve etkin hale getiriliyor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Kaynak Desteği</h5>
                        <p>Eğitmenler tarafında hazırlanan kaynaklar ile ömür boyu erişim desteği sağlanıyor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

