<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/Default/Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Edu Academy</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/Default/Index" class="nav-item nav-link">Ana Sayfa</a>
            <a href="/AboutPage/Index" class="nav-item nav-link active">Hakkımızda</a>
            <a href="/CoursePage/Index" class="nav-item nav-link">Kurslar</a>
            <a href="/InstructorPage/Index" class="nav-item nav-link">Eğitmenler</a>
            <a href="/ContactPage/Index" class="nav-item nav-link">İletişim</a>
        </div>
        <div class="nav-item dropdown">
            <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Oturum Aç<i class="fa fa-arrow-right ms-3"></i></a>
            <div class="dropdown-menu fade-down m-0">
                <a href="/AdminLogin/Login/" class="dropdown-item">Admin</a>
                <a href="/Login/Index/" class="dropdown-item">Öğrenci</a>
            </div>
        </div>

    </div>
</nav>


