@model MyELearningProject.DAL.Entities.Review
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<head>
    <title>Kurs Puanlama | eLearning </title>

    <link rel="stylesheet" href="~/Templates/css-half-star-rating/dist/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="~/Templates/material-lite-master/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


</head>


<div>

    <br />
    <br />

    <div class="container card text-center">

        <form method="post">

            <label>Kurs Seçin</label>
            <br />
            @Html.DropDownListFor(x => x.CourseID, (List<SelectListItem>)ViewBag.course, new { @class = "form-control" })
            <br />

            <fieldset class="rate">
                <input type="radio" id="rating10" name="ReviewScore" value="10" />
                <label for="rating10" title="10"></label>
                <input type="radio" id="rating9" name="ReviewScore" value="9" />
                <label class="half" for="rating9" title="9"></label>
                <input type="radio" id="rating8" name="ReviewScore" value="8" />
                <label for="rating8" title="8"></label>
                <input type="radio" id="rating7" name="ReviewScore" value="7" />
                <label class="half" for="rating7" title="7"></label>
                <input type="radio" id="rating6" name="ReviewScore" value="6" />
                <label for="rating6" title="6"></label>
                <input type="radio" id="rating5" name="ReviewScore" value="5" />
                <label class="half" for="rating5" title="5"></label>
                <input type="radio" id="rating4" name="ReviewScore" value="4" />
                <label for="rating4" title="4"></label>
                <input type="radio" id="rating3" name="ReviewScore" value="3" />
                <label class="half" for="rating3" title="3"></label>
                <input type="radio" id="rating2" name="ReviewScore" value="2" />
                <label for="rating2" title="2"></label>
                <input type="radio" id="rating1" name="ReviewScore" value="1" />
                <label class="half" for="rating1" title="1"></label>

            </fieldset>


            <br />
            <button type="submit" class="btn btn-warning" onclick="ReviewAlert()">Kaydet</button>
        </form>



    </div>

</div>



<script>
    function ReviewAlert() {
        Swal.fire({

            title: 'Tebrikler',
            text: 'Oyunuz sisteme kaydedildi! ',
            icon: 'success',
            showCancelButton: false,
            confirmButtonText: 'Tamam',

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Profile/Index/";
            }
        });
    }
</script>
